/* -----------------------------------------------------------header bottom------------------------------------------ */
.home{
    height: 50vh;
    background-image: url("../img/galeria/DSC00074.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home2{
    background-image: url("../img/galeria/cw-photos-9.jpg");
}
.home3{
    background-image: url("../img/galeria/cw-photos-6.jpg");
}
.home4{
    background-image: url("../img/galeria/cw-photos-4.jpg");
}
.home5{
    background-image: url("../img/galeria/cw-photos-2.jpg");
}
.info-letras{
    /* border: solid black; */
    width: fit-content;
    height: fit-content;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    border-radius: 30px;
    text-align: center;
}
.relativeposition{
    position: relative;
    height: 60vh;
    width: 100%;
}
.header-bottom{
    height: 55vh;
    width: 87%;
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -7%);
    background-color: white;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.096);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 20px;
}
.text-hb{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-hb h2{
    width: fit-content;
    font-family: jet-bold;
    color: #ff0000;
}
.text-hb p{
    font-size: 2rem;
    font-family: jet-light;
}
.separador{
    border-bottom: 1px solid #231f20;
    width: 40%;
}
.goback{
    font-family: jet-light;
    position: absolute;
    top: 30px;
    left: 10px;
}
.buttom{
    margin: 20px auto auto 0;
    width: 30%;
    height: 50px;

}
.boton{
    border: none;
    width: 100%;
    height: 100%;
    background-color: #231f20;
    transition: .3s;
}
.boton a{
    font-family: jet-black;
    text-decoration: none;
    font-size: 2rem;
    color: white;
}
.buttom:hover .boton{
    border-radius: 10px;
    transition: .3s;
    animation: tt .2s;
    animation-iteration-count: 2;
}
#sized{
    font-size: 3rem;
}
@keyframes tt{
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(5deg);
        transition: .2s;
    }
    50%{
        transform: rotate(0);

    }
    75%{
        transform: rotate(-5deg);
        transition: .2s;
    }
    100%{
        transform: rotate(0);
    }
}
@media screen and (max-width: 1030px){
    .buttom{
        width: 50%;
    }
}
@media screen and (max-width: 430px){
    .spna-none{
        display: none;
    }
    .buttom{
        width: 90%;
        margin: auto;
    }
    #sized{
        /* margin-top: 100px; */
        font-size: 2.5rem;
    }
    .header-bottom{
        height: 500px;
    }
    .relativeposition{
        height: 68vh;
    }
}