*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: jet-light;
}
html{
    scroll-behavior: smooth;
}
@font-face{
    font-family: jet-bold;
    src: url("../fonts/Jet-Bold.ttf");
}
@font-face{
    font-family: jet-light;
    src: url("../fonts/Jet-Light.ttf");
}
@font-face{
    font-family: jet;
    src: url("../fonts/Jet.ttf"); 
}
@font-face{
    font-family: jet-black;
    src: url("../fonts/Jet-Black.ttf");
}

.tittles{
    font-family: jet-black;
    color: white;
    font-size: 3rem;
}
.light{
    font-family: jet-light;
    color: white;
}

/* ---------------------------------------------------estilos del preliminar---------------------------------------------- */
.preliminar{
    display: flex;
    justify-content: center;
    height: 14vh;
    padding-top: 5px;
    /* background-color: aliceblue; */
}
.preliminar_int{
    display: flex;
    justify-content: space-between;
    /* border: solid black; */
    width: 90%;
}
.preliminar-detalle{
    /* border: solid black; */
    display: flex;
    width: 20%;
    justify-content: space-around;
    height: fit-content;
    margin-top: 8px;
}
#ancho1{
    width: 40%;
}
.ancho1-caja{
    /* border: solid black; */
    display: flex;
    align-items: center;
    font-family: jet-light;
}
.redes{
    width: 50px;
    /* border: solid black; */
}
.flex-flex{
    display: flex;
    /* border: solid black; */
}
/* ------------------------------------------------------estilos del header---------------------------------------------------- */
.header{
    position: absolute;
    top: 7vh;
    z-index: 1;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 10%);
    width: 87%;
    background-color: white;
    box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.096);
    background-color: #231f20;
    color: white;
}
.logo_int{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo_int p{
    font-size: 2rem;
    font-family: jet-black;
}
.header_flex{
    border: solida blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 12vh;
}
.logo_box{
    /* border: solid yellow; */
    width: fit-content;
    height: fit-content;
}

.logo{
    /* margin-top: 6px; */
    width: 100px;
}
.nav_box{
    height: fit-content;
}
.nav ul{
    list-style: none;
    display: flex;
    gap: 15px;
}
.nav ul li a{
    text-decoration: none;
    transition: .3s;
    font-family: jet-light;
}
.nav ul .option a{
    color: white;
}
.nav ul li a:hover{
    color: #d7c6ac;
    transition: .3s ;
    border-bottom: 1px solid #d7c6ac;
}
.option{
    color: white;
}
.position{
    color: #d7c6ac;
    border-bottom: 1px solid #d7c6ac;
}
/* -----------------------------------------------------------header bottom------------------------------------------ */
.header-bottom{
    height: 12vh;
    width: 87%;
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.096);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.text-hb{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

}

@keyframes bord{
    0%{
        transform: rotate(0);
    }
    25%{
        border-bottom: 1px solid black; 
    }
    50%{
        border-bottom: 1px solid black;
        border-left: 1px solid black; 
    }
    75%{
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-top: 1px solid black;
    }
    100%{
        border: 1px solid black;
    }
}

