::-webkit-scrollbar{
    width: 5px;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    width: 10px;
    border-radius: 10px;
    background-color: #231f201a;
    padding: 2px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #231f20;
    
}
::-webkit-scrollbar-thumb:hover{
    cursor: pointer;
    background-color: #231f20;
}