<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="infex, follow">
    <meta name="refresh" content="43200">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Duluth Car Wash - Get to know us a little">
    <meta property="og:description" content="Get to know us a little! Learn about our team, our commitment to quality service, and our range of car maintenance offerings in Duluth. We're dedicated to keeping your vehicle in top condition.">
    <meta property="og:image" content="https://ibb.co/dBn4x10">
    <meta property="og:url" content="">
    <title>About</title>
    <link rel="icon" href="../front-end/img/iconos/logo.jpg">
    <link rel="stylesheet" href="../front-end/css/menu.css">
    <link rel="stylesheet" href="../front-end/css/about.css">
    <link rel="stylesheet" href="../front-end/css/scroll.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
</head>
<body>
    <section class="preliminar">
        <div class="preliminar_int">
            <div class="preliminar-detalle" id="ancho1">
                <div class="ancho1-caja">
                    <a target="_blank" href="https://www.google.com/intl/es-419/gmail/about/"><img class="redes" src="../front-end/img/iconos/mail.png" alt=""></a>
                    <p class="span-none">Carwashduluth@gmail.com</p>
                </div>
                <div class="ancho1-caja">
                    <p>|</p>
                </div>
                <div class="ancho1-caja">
                    <img class="redes" src="../front-end/img/iconos/numero.png" alt="">
                    <span class="span-none">+01 706 850 93 52</span>
                </div>
            </div>
            <div class="preliminar-detalle">
                <div class="flex-flex">
                    <div>
                        <a target="_blank" href="https://www.instagram.com/athensautowash?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><img class="redes" src="../front-end/img/iconos/ig.png" alt=""></a>
                    </div>
                    <div>
                        <a target="_blank" href="https://www.facebook.com/athenswash"><img class="redes" src="../front-end/img/iconos/facebook.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="header">
        <div class="header_flex">
            <div class="logo_box">
                <div class="logo_int">
                    <img class="logo" src="../front-end/img/iconos/logo.jpg" alt="Logo of a car wash with various disinfection, cleaning, and maintenance services">
                    <p class="athens"></p>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
                <script src="../front-end/js/athens.js"></script>
            </div>
            <div class="container-navs">
                <div class="nav_box">
                    <nav class="nav">
                        <ul>
                            <li class="option"><a href="../index.html">HOME</a></li>
                            <li><a class="position" href="about.html">ABOUT</a></li>
                            <li class="option"><a href="serviop2.html">SERVICES</a></li>
                            <li class="option ham-option"><a href="membresias.html">MEMBERSHIPS</a></li>
                            <li class="option"><a href="blog.html">BLOG</a></li>
                            <li class="option"><a href="contact.php">CONTACT</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="nav-ham">
                    <nav class="nav_box nav-box-ham">
                        <div class="off-screen-menu">
                            <ul class="ham-list">
                                <li class="option ham-option"><a href="../index.html">HOME</a></li>
                                <li class="position ham-option"><a href="about.html">ABOUT</a></li>
                                <li class="option ham-option"><a href="serviop2.html">SERVICES</a></li>
                                <li class="option ham-option"><a href="membresias.html">MEMBERSHIPS</a></li>
                                <li><a class="option ham-position" href="blog.html">BLOG</a></li>
                                <li class="option ham-option"><a href="contact.php">CONTACT</a></li>
                            </ul>
                        </div>
                        <nav>
                            <div class="hamburguesa">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </nav>
                        <script src="../front-end/js/menu.js"></script>
                    </nav>
                </div>
            </div>
            
        </div>
    </section>
    <section class="home">
        <div class="info-letras" data-aos="fade-down" data-aos-duration="800">
            <div class="letras-int">
                <h1 class="athens2">MEET YOUR TEAM</h1>
            </div>
        </div>
    </section>
    <section class="relativeposition">
        <img data-aos="fade-left" data-aos-duration="800" id="ms-img" src="../front-end/img/iconos/mision.png" alt="">
        <div class="header-bottom">
            <h2 data-aos="fade-down" data-aos-duration="800" class="tittles mv">MISSION</h2>
            <div>
                <p data-aos="fade-up" data-aos-duration="800" class="ms-text-vs">Provide self service/full service car wash and oil change services of the highest quality, ensuring the total satisfaction of our customers through personalized, fast and efficient attention. We are committed to taking care of every detail so that our customers feel the difference and confidence in our service.</p>
            </div>
        </div>
    </section>
    <section class="relativeposition r2">
        <img data-aos="fade-right" data-aos-duration="800" id="vs-img" src="../front-end/img/iconos/vision.png" alt="">
        <div class="header-bottom header-vission">
            <h2 data-aos="fade-down" data-aos-duration="800" class="tittles mv">VISION</h2>
            <div>
                <p data-aos="fade-up" data-aos-duration="800" class="ms-text-vs">To be the leading car wash and vehicle maintenance company in Duluth GA recognized for our excellence in customer service, innovation in our processes and commitment to environmental sustainability, creating lasting and trustworthy relationships with our customers and the community.
                </p>
            </div>
        </div>
    </section>
    <section class="values-container">
        <div>
            <h2 class="tittles vt">CORPORATE VALUES</h2>
        </div>
        <div class="flex-int">
            <div class="values">
                <img src="../front-end/img/fichas-graficas/value1.png" alt="" class="value-img" data-aos="fade-up" data-aos-duration="800" data-aos-delay="50"> 
            </div>
            <div class="values">
                <img src="../front-end/img/fichas-graficas/values (1).png" alt="" class="value-img" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
            </div>
            <div class="values">
                <img src="../front-end/img/fichas-graficas/values (2).png" alt="" class="value-img" data-aos="fade-up" data-aos-duration="800" data-aos-delay="150">
            </div>
        </div>
        <div class="flex-int">
            <div class="values">
                <img src="../front-end/img/fichas-graficas/values (3).png" alt="" class="value-img" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
            </div>
            <div class="values">
                <img src="../front-end/img/fichas-graficas/values (4).png" alt="" class="value-img" data-aos="fade-up" data-aos-duration="800" data-aos-delay="250">
            </div>
            <div class="values">
                <img src="../front-end/img/fichas-graficas/values (5).png" alt="" class="value-img" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
            </div>
        </div>
    </section>
    <section class="fotter">
        <div class="fotter-flex"> 
            <div class="fot_int">
                <div class="mini_about" id="rightpos">  
                    <a href="index.html">
                        <img id="about_img" src="../front-end/img/galeria/Athens-Car-Wash-Logo-FINAL.png" alt="Logo of a car wash with various disinfection, cleaning, and maintenance services">
                    </a>
                </div>
            </div>
            <div class="fot_int">
                <div class="mini_services">
                    <div class="boxi-redes">
                        <h4>OTHER SERVICES</h4>
                    </div>
                    <div class="boxi">
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/snacks.png" alt="">
                            <p>Snacks & Beverage Available for Sale</p>
                        </div>
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/ambientadores.png" alt="">
                            <p>Air Fresheners Available for Sale</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fot_int">
                <div class="mini_contact">
                    <div class="boxi-redes">
                        <h4>¡VISIT US!</h4>
                    </div>
                    <div class="boxi">
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/whats.png" alt="">
                            <p>+01 706 850 93 52</p>
                        </div>
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/ubi.png" alt="">
                            <p>4350 Lexington road Athens, GA 30605.</p>
                        </div>
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/date-time.png" alt="">
                            <p>Monday - Saturday: 9:00a.m. to 7:00p.m., Sunday: 10:00a.m. to 6:00p.m.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fot_int">
                <div class="mini_redes">
                    <div class="boxi-redes">
                        <h4>¡FOLLOW US!</h4>
                    </div>
                    <div class="boxi">
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/facebook.png" alt="">
                            <a href="https://www.facebook.com/athenswash" target="_blank">Facebook</a>
                        </div>
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/ig.png" alt="">
                            <a href="https://www.instagram.com/athensautowash?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">Instagram</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
    	AOS.init()
    </script>
</body>
</html>