<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Discover our blog for exclusive discounts and updates. Explore helpful tips, industry news, and more from our award-winning car wash in Duluth.">
    <meta name="keywords" content="free, car wash, oil change, bogo sale, best, gwinnet, best of gwinnet 2023">
    <meta name="robots" content="infex, follow">
    <meta name="refresh" content="43200">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="icon" href="../front-end/img/iconos/ATHENS-LOGO.jpg">
    <link rel="icon" href="../front-end/img/iconos/logo.jpg">
    <link rel="stylesheet" href="../front-end/css/blog.css">
    <link rel="stylesheet" href="../front-end/css/menu.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    <link rel="stylesheet" href="../front-end/css/scroll.css">
</head>
<body>
    <section class="preliminar">
        <div class="preliminar_int">
            <div class="preliminar-detalle" id="ancho1">
                <div class="ancho1-caja">
                    <a target="_blank" href="https://www.google.com/intl/es-419/gmail/about/"><img class="redes" src="../front-end/img/iconos/mail.png" alt=""></a>
                    <p class="span-none">Carwashduluth@gmail.com</p>
                </div>
                <div class="ancho1-caja">
                    <p>|</p>
                </div>
                <div class="ancho1-caja">
                    <img class="redes" src="../front-end/img/iconos/numero.png" alt="">
                    <span class="span-none">+01 706 850 93 52</span>
                </div>
            </div>
            <div class="preliminar-detalle">
                <div class="flex-flex">
                    <div>
                        <a target="_blank" href="https://www.instagram.com/athensautowash?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><img class="redes" src="../front-end/img/iconos/ig.png" alt=""></a>
                    </div>
                    <div>
                        <a target="_blank" href="https://www.facebook.com/athenswash"><img class="redes" src="../front-end/img/iconos/facebook.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="header">
        <div class="header_flex">
            <div class="logo_box">
                <div class="logo_int">
                    <img class="logo" src="../front-end/img/iconos/logo.jpg" alt="empresa de autolavado con diferentes servicios de desinfexion, limpieza y mantenimiento">
                    <p class="athens"></p>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
                <script src="../front-end/js/athens.js"></script>
            </div>
            <div class="container-navs">
                <div class="nav_box">
                    <nav class="nav">
                        <ul>
                            <li class="option"><a href="../index.html">HOME</a></li>
                            <li class="option"><a href="about.html">ABOUT</a></li>
                            <li class="option"><a href="serviop2.html">SERVICES</a></li>
                            <li class="option ham-option"><a href="membresias.html">MEMBERSHIPS</a></li>
                            <li><a class="position" href="blog.html">BLOG</a></li>
                            <li class="option"><a href="contact.php">CONTACT</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="nav-ham">
                    <nav class="nav_box nav-box-ham">
                        <div class="off-screen-menu">
                            <ul class="ham-list">
                                <li class="option ham-option"><a href="../index.html">HOME</a></li>
                                <li class="option ham-option"><a href="about.html">ABOUT</a></li>
                                <li class="option ham-option"><a href="serviop2.html">SERVICES</a></li>
                                <li class="option ham-option"><a href="membresias.html">MEMBERSHIPS</a></li>
                                <li><a class="position ham-position" href="blog.html">BLOG</a></li>
                                <li class="option ham-option"><a href="contact.php">CONTACT</a></li>
                            </ul>
                        </div>
                        <nav>
                            <div class="hamburguesa">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </nav>
                        <script src="../front-end/js/menu.js"></script>
                    </nav>
                </div>
            </div>
            
        </div>
    </section>
    <section class="home">
        <div class="info-letras" data-aos="fade-down" data-aos-duration="800">
            <div class="letras-int">
                <h1 class="athens2">WHAT IS NEW?</h1>
            </div>
        </div>
    </section>
    <section class="entradas-container"> 
        <div class="entradas-container-int">
            <div class="newstext">
                <div>
                    <h2>NEWS</h2>
                </div>
            </div>
            <div class="entradas-int">
                <div class="container-grid">
                    <a href="entrada1.html" data-aos="fade-up" data-aos-duration="800">
                        <div class="entradas">
                            <div class="entradas-image">
                                <img class="entrada-image-int" src="../front-end/img/galeria/cw-photos-4.jpg" alt="">
                            </div>
                            <div class="separador"></div>
                            <div class="entradas-texts">
                                <h3>Free Exterior Car Wash with every Oil Change.</h3>
                            </div>
                        </div>
                    </a>
                    <a href="entrada3.html" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                        <div class="entradas">
                            <div class="entradas-image">
                                <img class="entrada-image-int" src="../front-end/img/galeria/US_ExpressCare_NO_LOGO_employee_imagesEC 3_0501 (Cropped) (1).jpg" alt="">
                            </div>
                            <div class="separador"></div>
                            <div class="entradas-texts">
                                <h3>Bogo Sale Buy one Ceramic Dawg Car Wash $20 get second one for $10.</h3>
                            </div>
                        </div>
                    </a>
                    <a href="entrada5.html" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                        <div class="entradas">
                            <div class="entradas-image">
                                <img class="entrada-image-int" src="../front-end/img/galeria/cw-photos-12.jpg" alt="">
                            </div>
                            <div class="separador"></div>
                            <div class="entradas-texts">
                                <h3>Bogo Sale Buy one  Dawg House Car Wash $20 get second car wash for $10.</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
    </section>
    <section class="gallery">
        <div class="galery-texts">
            <h2 class="tittles">GET TO KNOW YOUR TEAM AND OUR FACILITIES</h2>
        </div>
        <div class="galeria">
            <div class="g-contain">
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="350"><video src="../front-end/img/videos/cw-vertical-insertmusic.mp4" alt="" class="g-img" autoplay muted loop></video></div>
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="300"><img src="../front-end/img/galeria/cw-photos-4.jpg" alt="" class="g-img"></div>
            </div>
            <div class="g-contain">
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="250"><img src="../front-end/img/galeria/182.jpg" alt="" class="g-img"></div>
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"><img src="../front-end/img/galeria/cw-4.jpg" alt="" class="g-img"></div>
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="150"><img src="../front-end/img/galeria/cw-5.jpg" alt="" class="g-img"></div>
            </div>
            <div class="g-contain">
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="100"><img src="../front-end/img/galeria/cw-7.jpg" alt="" class="g-img"></div>
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="50"><img src="../front-end/img/galeria/cw-photos-12.jpg" alt="" class="g-img"></div>
            </div>
            <div class="g-contain">
                <div data-aos="fade-up" data-aos-duration="800"><img src="../front-end/img/galeria/cw-photos-9.jpg" alt="" class="g-img"></div>
            </div>
        </div>
        <div class="galeria galeria2">
            <div class="g-contain">
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="350"><img src="../front-end/img/galeria/cw-photos-2.jpg" alt="" class="g-img"></div>
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="300"><img src="../front-end/img/galeria/vertical2.jpg" alt="" class="g-img"></div>
            </div>
            <div class="g-contain">
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="250"><img src="../front-end/img/galeria/cw-photos-6.jpg" alt="" class="g-img"></div>
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"><img src="../front-end/img/galeria/cw-photos-11.jpg" alt="" class="g-img"></div>
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="150"><img src="../front-end/img/galeria/vertical.jpg" alt="" class="g-img"></div>
            </div>
            <div class="g-contain">
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="100"><img src="../front-end/img/galeria/vertical3.jpg" alt="" class="g-img"></div>
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="50"><img src="../front-end/img/galeria/vertical4.jpg" alt="" class="g-img"></div>
            </div>
            <div class="g-contain">
                <div data-aos="fade-up" data-aos-duration="800"><img src="../front-end/img/galeria/cw-4.jpg" alt="" class="g-img"></div>
                <div data-aos="fade-up" data-aos-duration="800"><img src="../front-end/img/galeria/cw-7.jpg" alt="" class="g-img"></div>  
            </div>
        </div>
        
    </section>
    <section class="fotter">
        <div class="fotter-flex"> 
            <div class="fot_int">
                <div class="mini_about" id="rightpos">  
                    <a href="index.html">
                        <img id="about_img" src="../front-end/img/iconos/ATHENS-LOGO.jpg" alt="Logo of a car wash with various disinfection, cleaning, and maintenance services">
                    </a>
                </div>
            </div>
            <div class="fot_int">
                <div class="mini_services">
                    <div class="boxi-redes">
                        <h4>OTHER SERVICES</h4>
                    </div>
                    <div class="boxi">
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/snacks.png" alt="">
                            <p>Snacks & Beverage Available for Sale</p>
                        </div>
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/ambientadores.png" alt="">
                            <p>Air Fresheners Available for Sale</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fot_int">
                <div class="mini_contact">
                    <div class="boxi-redes">
                        <h4>¡VISIT US!</h4>
                    </div>
                    <div class="boxi">
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/whats.png" alt="">
                            <p>+01 706 850 93 52</p>
                        </div>
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/ubi.png" alt="">
                            <p>4350 Lexington road Athens, GA 30605.</p>
                        </div>
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/date-time.png" alt="">
                            <p>Monday - Saturday: 9:00a.m. to 7:00p.m., Sunday: 10:00a.m. to 6:00p.m.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fot_int">
                <div class="mini_redes">
                    <div class="boxi-redes">
                        <h4>¡FOLLOW US!</h4>
                    </div>
                    <div class="boxi">
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/facebook.png" alt="">
                            <a href="https://www.facebook.com/athenswash" target="_blank">Facebook</a>
                        </div>
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/ig.png" alt="">
                            <a href="https://www.instagram.com/athensautowash?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">Instagram</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
    	AOS.init()
    </script>
</body>
</html>