<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../front-end/img/iconos/logo.jpg">
    <link rel="stylesheet" href="../front-end/css/blog.css">
    <link rel="stylesheet" href="../front-end/css/entradas.css">
    <link rel="stylesheet" href="../front-end/css/menu.css">
    <link rel="stylesheet" href="../front-end/css/scroll.css">
    <title>News</title>
</head>
<body>
    <section class="preliminar">
        <div class="preliminar_int">
            <div class="preliminar-detalle" id="ancho1">
                <div class="ancho1-caja">
                    <a target="_blank" href="https://www.google.com/intl/es-419/gmail/about/"><img class="redes" src="../front-end/img/iconos/mail.png" alt=""></a>
                    <p class="span-none">correo@gmail.com</p>
                </div>
                <div class="ancho1-caja">
                    <p>|</p>
                </div>
                <div class="ancho1-caja">
                    <img class="redes" src="../front-end/img/iconos/numero.png" alt="">
                    <span class="spna-none">+01 304 241 88 63</span>
                </div>
            </div>
            <div class="preliminar-detalle">
                <div class="flex-flex">
                    <div>
                        <a target="_blank" href="https://www.instagram.com/solida360_?igsh=MWFlZW9iaTJ0N3NuMQ%3D%3D"><img class="redes" src="../front-end/img/iconos/ig.png" alt=""></a>
                    </div>
                    <div>
                        <a target="_blank" href="https://www.facebook.com/?locale=es_LA"><img class="redes" src="../front-end/img/iconos/facebook.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="header">
        <div class="header_flex">
            <div class="logo_box">
                <div class="logo_int">
                    <img class="logo" src="../front-end/img/iconos/logo.jpg" alt="empresa de autolavado con diferentes servicios de desinfexion, limpieza y mantenimiento">
                    <p class="duluth"></p>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
                <script src="../front-end/js/duluth.js"></script>
            </div>
            <div class="container-navs">
                <div class="nav_box">
                    <nav class="nav">
                        <ul>
                            <li class="option"><a href="../index.html">HOME</a></li>
                            <li class="option"><a href="about.html">ABOUT</a></li>
                            <li class="option"><a href="serviop2.html">SERVICES</a></li>
                            <li class="option ham-option"><a href="membreships.html">MEMBERSHIPS</a></li>
                            <li><a class="position" href="blog.html">BLOG</a></li>
                            <li class="option"><a href="contact.php">CONTACT</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="nav-ham">
                    <nav class="nav_box nav-box-ham">
                        <div class="off-screen-menu">
                            <ul class="ham-list">
                                <li class="option ham-option"><a href="../index.html">HOME</a></li>
                                <li class="option ham-option"><a href="about.html">ABOUT</a></li>
                                <li class="option ham-option"><a href="serviop2.html">SERVICES</a></li>
                                <li class="option ham-option"><a href="membreships.html">MEMBERSHIPS</a></li>
                                <li><a class="position ham-position" href="blog.html">BLOG</a></li>
                                <li class="option ham-option"><a href="contact.php">CONTACT</a></li>
                            </ul>
                        </div>
                        <nav>
                            <div class="hamburguesa">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </nav>
                        <script src="../front-end/js/menu.js"></script>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="home home4">
        <div class="info-letras">
            <div class="letras-int">
                <h1 class="duluth2">Bogo Sale Buy one Ceramic Dawg Car Wash + Interior Cleaning  $39 get second car wash for $20.</h1>
            </div>
        </div>
    </section>
    
    <section class="relativeposition">
        <section class="header-bottom">
            <div class="goback">
                <div>
                    <a href="blog.html">RETURN TO THE MAIN PAGE</a>
                </div>
            </div>
            <div class="text-hb">
                <div>
                    <h2 class="textcontact">DE QUE SE TRATA</h2>
                    <div class="separador"></div>
                    <p class="textcontact2">Tell us what you think about our service and facilities. We are here to listen and improve together.</p>
                </div>
            </div>

        </section>
    </section>
    
    <section class="fotter">
        <div class="fotter-flex"> 
            <div class="fot_int">
                <div class="mini_about" id="rightpos"> 
                    <a href="../index.html">
                        <img id="about_img" src="../front-end/img/iconos/logo.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="fot_int">
                <div class="mini_services">
                    <div class="boxi-redes">
                        <h4>OTHER SERVICES</h4>
                    </div>
                    <div class="boxi">
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/cofee.png" alt="">
                            <p>Complementary Coffee</p>
                        </div>
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/snacks.png" alt="">
                            <p>Snacks & Beverage Available for Sale</p>
                        </div>
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/ambientadores.png" alt="">
                            <p>Air Fresheners Available for Sale</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fot_int">
                <div class="mini_contact">
                    <div class="boxi-redes">
                        <h4>¡VISIT US!</h4>
                    </div>
                    <div class="boxi">
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/whats.png" alt="">
                            <p>+01 123 456 78 99</p>
                        </div>
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/ubi.png" alt="">
                            <p>3105 Peachtree Industrial Blvd. Duluth, GA 30097</p>
                        </div>
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/date-time.png" alt="">
                            <p>Monday - Saturday: 9:00a.m. to 7:00p.m., Sunday: 10:00a.m. to 6:00p.m.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fot_int">
                <div class="mini_redes">
                    <div class="boxi-redes">
                        <h4>¡FOLLOW US!</h4>
                    </div>
                    <div class="boxi">
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/ig.png" alt="">
                            <a href="https://www.facebook.com/duluthcarwash" target="_blank">Facebook</a>
                        </div>
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/facebook.png" alt="">
                            <a href="https://www.instagram.com/duluthcarwash_valvoline_lube?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">Instagram</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</body>
</html>