<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Explore our comprehensive car services in Athens, including oil changes, tire services, emissions inspections, brake services, and professional car washes. Trust our experts to keep your vehicle running smoothly.">
    <meta name="keywords" content="car wash, exterior car wash, detailing package, hand car wash, oil change, tire, brakes, emission inspection">
    <meta name="robots" content="infex, follow">
    <meta name="refresh" content="43200">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="icon" href="../front-end/img/iconos/logo.jpg">
    <link rel="stylesheet" href="../front-end/css/blog.css">
    <link rel="stylesheet" href="../front-end/css/sereviop2.css">
    <link rel="stylesheet" href="../front-end/css/menu.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    <link rel="stylesheet" href="../front-end/css/scroll.css">
</head>
<body>
    <section class="preliminar">
        <div class="preliminar_int">
            <div class="preliminar-detalle" id="ancho1">
                <div class="ancho1-caja">
                    <a target="_blank" href="https://www.google.com/intl/es-419/gmail/about/"><img class="redes" src="../front-end/img/iconos/mail.png" alt=""></a>
                    <p class="span-none">correo@gmail.com</p>
                </div>
                <div class="ancho1-caja">
                    <p>|</p>
                </div>
                <div class="ancho1-caja">
                    <img class="redes" src="../front-end/img/iconos/numero.png" alt="">
                    <span class="span-none">+01 304 241 88 63</span>
                </div>
            </div>
            <div class="preliminar-detalle">
                <div class="flex-flex">
                    <div>
                        <a target="_blank" href="https://www.instagram.com/solida360_?igsh=MWFlZW9iaTJ0N3NuMQ%3D%3D"><img class="redes" src="../front-end/img/iconos/ig.png" alt=""></a>
                    </div>
                    <div>
                        <a target="_blank" href="https://www.facebook.com/?locale=es_LA"><img class="redes" src="../front-end/img/iconos/facebook.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="header">
        <div class="header_flex">
            <div class="logo_box">
                <div class="logo_int">
                    <img class="logo" src="../front-end/img/iconos/logo.jpg" alt="empresa de autolavado con diferentes servicios de desinfexion, limpieza y mantenimiento">
                    <p class="duluth"></p>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
                <script src="../front-end/js/duluth.js"></script>
            </div>
            <div class="container-navs">
                <div class="nav_box">
                    <nav class="nav">
                        <ul>
                            <li class="option"><a href="../index.html">HOME</a></li>
                            <li class="option"><a href="about.html">ABOUT</a></li>
                            <li><a class="position" href="serviop2.html">SERVICES</a></li>
                            <li class="option"><a href="membreships.html">MEMBERSHIPS</a></li>
                            <li class="option"><a href="blog.html">BLOG</a></li>
                            <li class="option"><a href="contact.php">CONTACT</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="nav-ham">
                    <nav class="nav_box nav-box-ham">
                        <div class="off-screen-menu">
                            <ul class="ham-list">
                                <li class="option ham-option"><a href="../index.html">HOME</a></li>
                                <li class="option ham-option"><a href="about.html">ABOUT</a></li>
                                <li><a class="position ham-position" href="serviop2.html">SERVICES</a></li>
                                <li class="option ham-option"><a href="membreships.html">MEMBERSHIPS</a></li>
                                <li class="option ham-option"><a href="blog.html">BLOG</a></li>
                                <li class="option ham-option"><a href="contact.php">CONTACT</a></li>
                            </ul>
                        </div>
                        <nav>
                            <div class="hamburguesa">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </nav>
                        <script src="../front-end/js/menu.js"></script>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="home" data-aos="zoom-in">
        <div class="info-letras">
            <div class="letras-int services">
                <h1 class="duluth2">WHAT WE OFFER YOU</h1>
            </div>
        </div>
    </section>
    <section class="entradas-container">
        <div class="entradas-container-int">
            <div class="newstext">
                <div>
                    <h2 class="backi" data-aos="zoom-in" data-aos-duration="800">FULL SERVICE CAR WASH</h2>
                    <h3 class="floati shorturl">FULL SERVICE CAR WASH</h3> 
                </div>
            </div>
            <div class="fichas">
                <div class="container-grids c-g2">
                    <div class="entradas zoom" data-name="p-1" id="empresa-img1" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/fichas-graficas/CARWASH+INTERIOR.png" alt="">
                        </div>
                    </div>
             
                    <div class="entradas zoom" data-name="p-2" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/fichas-graficas/dauwghoouse+interior.png" alt="">
                        </div>
                    </div>
             
                    <div class="entradas zoom" data-name="p-3" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/fichas-graficas/hotwaxshine+interior.png" alt="">
                        </div>
                        
                    </div>
             
                    <!-- <div class="entradas zoom" data-name="p-4" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/fichas-graficas/topdawg+interior.png" alt="">
                        </div>    
                    </div> -->
                </div>
            </div>
        </div>
        <div class="entradas-container-int">
            <div class="newstext">
                <div>
                    <h2 class="backi" data-aos="zoom-in" data-aos-duration="800">SELF SERVE EXTERIOR CAR WASH</h2>
                    <h3 class="floati">SELF <div class="spacio"></div> SERVE EXTERIOR <br> CAR WASH</h3> 
                </div>
            </div>
            <div class="fichas">
                <div class="container-grids c-g2">
                    <div class="entradas zoom" data-name="p-1" id="empresa-img1" data-aos="fade-right" data-aos-duration="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/fichas-graficas/CAR WASH.png" alt="">
                        </div>
                    </div>
             
                    <div class="entradas zoom" data-name="p-2" data-aos="fade-left" data-aos-duration="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/fichas-graficas/doug-house.png" alt="">
                        </div>
                    </div>
             
                    <div class="entradas zoom" data-name="p-3" data-aos="fade-right" data-aos-duration="800" data-aos-delay="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/fichas-graficas/hot-wax-shine.png" alt="">
                        </div>
                        
                    </div>
             
                    <div class="entradas zoom" data-name="p-4" data-aos="fade-left" data-aos-duration="800" data-aos-delay="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/fichas-graficas/top-dawg.png" alt="">
                        </div>    
                    </div>

                    <div class="entradas entradas zoom" data-name="p-4" data-aos="fade-right" data-aos-duration="800" data-aos-delay="1600" data-aos-easing="ease-in-out"> 
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/fichas-graficas/BASIC.png" alt="">
                        </div>    
                    </div> 
                </div>
            </div>
        </div>
    </section>
    <section class="entradas-container">
        <div class="entradas-container-int">
            <div class="newstext">
                <div>
                    <h2 class="backi" data-aos="zoom-in" data-aos-duration="800">DETAILING PACKAGE</h2>
                    <h3 class="floati shorturl">DETAILING PACKAGE</h3> 
                </div>
            </div>
            <div class="fichas">
                <div class="container-grids c-g2">
                    <div class="entradas zoom" data-name="p-1" id="empresa-img1" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/fichas-graficas/seat.png" alt="">
                        </div>
                    </div>
             
                    <div class="entradas zoom" data-name="p-2" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/fichas-graficas/carpet.png" alt="">
                        </div>
                    </div>
             
                    <div class="entradas zoom" data-name="p-3" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/fichas-graficas/handwax.png" alt="">
                        </div>
                        
                    </div>
             
                    <div class="entradas zoom" data-name="p-4" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/fichas-graficas/vynil.png" alt="">
                        </div>    
                    </div>

                    <div class="entradas zoom" data-name="p-4" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/fichas-graficas/headlight.png" alt="">
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        <div class="entradas-container-int">
            <div class="newstext">
                <div>
                    <h2 class="backi" data-aos="zoom-in" data-aos-duration="800">HAND CAR WASH</h2>
                    <h3 class="floati">HAND CAR WASH</h3> 
                </div>
            </div>
            <div class="fichas">
                <div class="container-grids c-g2">
                    <div class="entradas zoom" data-name="p-1" id="empresa-img1" data-aos="fade-right" data-aos-duration="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/fichas-graficas/sedans.png" alt="">
                        </div>
                    </div>
             
                    <div class="entradas zoom" data-name="p-2" data-aos="fade-left" data-aos-duration="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/fichas-graficas/suvs.png" alt="">
                        </div>
                    </div>
             
                    <div class="entradas zoom" data-name="p-3" data-aos="fade-right" data-aos-duration="800" data-aos-delay="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/fichas-graficas/largesuvs.png" alt="">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="entradas-container-int">
            <div class="newstext">
                <div>
                    <h2 class="backi" data-aos="zoom-in" data-aos-duration="800">OIL CHANGE SERVICES</h2>
                    <h3 class="floati">OIL CHANGE SERVICES</h3> 
                </div>
            </div>
            <div class="fichas">
                <div class="container-grids c-g2">
                    <div class="entradas zoom" data-name="p-1" id="empresa-img1" data-aos="fade-right" data-aos-duration="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/valvoline/diesel.png" alt="">
                        </div>
                    </div>
             
                    <div class="entradas zoom" data-name="p-2" data-aos="fade-left" data-aos-duration="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/valvoline/full.png" alt="">
                        </div>
                    </div>
             
                    <div class="entradas zoom" data-name="p-3" data-aos="fade-right" data-aos-duration="800" data-aos-delay="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/valvoline/semk.png" alt="">
                        </div>
                        
                    </div>
             
                    <div class="entradas zoom" data-name="p-4" data-aos="fade-left" data-aos-duration="800" data-aos-delay="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/valvoline/conventional.png" alt="">
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        <div class="entradas-container-int">
            <div class="newstext">
                <div>
                    <h2 class="backi" data-aos="zoom-in" data-aos-duration="800">TIRE SERVICES</h2>
                    <h3 class="floati">TIRE SERVICES</h3> 
                </div>
            </div>
            <div class="fichas">
                <div class="container-grids c-g2">
                    <div class="entradas zoom" data-name="p-1" id="empresa-img1" data-aos="fade-right" data-aos-duration="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/fichas-graficas/tire.png" alt="">
                        </div>
                    </div>
             
                    <div class="entradas zoom" data-name="p-2" data-aos="fade-left" data-aos-duration="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/fichas-graficas/bigtire.png" alt="">
                        </div>
                    </div>
             
                    <div class="entradas zoom" data-name="p-3" data-aos="fade-right" data-aos-duration="800" data-aos-delay="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/fichas-graficas/tireplug.png" alt="">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="entradas-container-int">
            <div class="newstext">
                <div>
                    <h2 class="backi" data-aos="zoom-in" data-aos-duration="800">BRAKES SERVICES</h2>
                    <h3 class="floati">BRAKES SERVICES</h3> 
                </div>
            </div>
            <div class="fichas">
                <div class="container-grids c-g2">
                    <div class="entradas zoom" data-name="p-1" id="empresa-img1" data-aos="fade-right" data-aos-duration="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/fichas-graficas/brakes.png" alt="">
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <!-- <div class="entradas-container-int">
            <div class="newstext">
                <div>
                    <h2 class="backi" data-aos="zoom-in" data-aos-duration="800">EMISSION INSPECTION</h2>
                    <h3 class="floati">EMISSION INSPECTION</h3> 
                </div>
            </div>
            <div class="fichas">
                <div class="container-grids">
                    <div class="entradas zoom" data-name="p-1" id="empresa-img1" data-aos="fade-right" data-aos-duration="800" data-aos-easing="ease-in-out">
                        <div class="separador"></div>
                        <div class="entradas-texts">
                            <img class="fgcw" src="../front-end/img/fichas-graficas/emissions.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
    
    <section class="fotter">
        <div class="fotter-flex"> 
            <div class="fot_int">
                <div class="mini_about" id="rightpos"> 
                    <a href="../index.html">
                        <img id="about_img" src="../front-end/img/iconos/logo.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="fot_int">
                <div class="mini_services">
                    <div class="boxi-redes">
                        <h4>OTHER SERVICES</h4>
                    </div>
                    <div class="boxi">
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/cofee.png" alt="">
                            <p>Complementary Coffee</p>
                        </div>
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/snacks.png" alt="">
                            <p>Snacks & Beverage Available for Sale</p>
                        </div>
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/ambientadores.png" alt="">
                            <p>Air Fresheners Available for Sale</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fot_int">
                <div class="mini_contact">
                    <div class="boxi-redes">
                        <h4>¡VISIT US!</h4>
                    </div>
                    <div class="boxi">
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/whats.png" alt="">
                            <p>+01 123 456 78 99</p>
                        </div>
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/ubi.png" alt="">
                            <p>3105 Peachtree Industrial Blvd. Duluth, GA 30097</p>
                        </div>
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/date-time.png" alt="">
                            <p>Monday - Saturday: 9:00a.m. to 7:00p.m., Sunday: 10:00a.m. to 6:00p.m.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fot_int">
                <div class="mini_redes">
                    <div class="boxi-redes">
                        <h4>¡FOLLOW US!</h4>
                    </div>
                    <div class="boxi">
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/ig.png" alt="">
                            <a href="https://www.facebook.com/duluthcarwash" target="_blank">Facebook</a>
                        </div>
                        <div class="info_contact_fot">
                            <img class="icon_fot" src="../front-end/img/iconos/facebook.png" alt="">
                            <a href="https://www.instagram.com/duluthcarwash_valvoline_lube?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">Instagram</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
      
</body>
</html>